body{
    background-color:#F5F8FA;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    background-color: #EDEFF2;
    border:none;
    border-radius: 3px;
    padding:8px;
}
.container{
    margin:auto;
    display:flex;
    padding-top: 2rem;
    width: max-content;
}
.section-1{
    background-color: #ffffff;
    border:1px solid #f1f1f1;
    border-radius:5px 0 0 5px;
    width: calc(312px * 2)
}
.section-2{
    background-color: #1179BF;
    padding:20px;
    border:1px solid #f1f1f1;
    border-radius:0 5px 5px 0;
    width: 312px;
    color:#ffffff;
}
.introHeading{
    font-size:20px;
    font-weight: 500;
    color: #ffffff;
}

.title-container{
    padding:20px;
}
.title{
font-size: 30px;
font-weight: 400;
}
.checkout-section{
    border-top:1px solid #f1f1f1;
    padding:2.5rem;
}
.number{
    border:2px solid #1179BF;
    border-radius: 50%;
    width:30px;
    height:30px;
    text-align: center;
    color:#1179BF
}
.subtitle-container{
    display:flex;
    align-items:center;
    gap:10px;
    font-size: 18px;
    font-weight: 500;
}
.input-container{
    display: flex;
    gap: 20px;
}
.input-field{
    display:flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;

}
.button{
    background-color:#038E7D;
    color: #ffffff;
    width: 100%;
    padding:15px;
    border:none;
    border-radius: 6px;
}
.help-link{
    margin-left: 30px;
    font-size: 14px;
}
.bottom-link{
    font-size: 14px;
    margin-left: 30px;
    color:#DADADA;
    position:relative;
    border:none;
    color:#ffffff;
}
